
# Binários compilados
*.exe
*.dll
*.so
*.dylib
api/api
api/main
webapp/webapp
webapp/main

# Arquivos de dependências do Go
vendor/

# Arquivos de IDE/editor
.vscode/
.idea/
*.swp

# Arquivos de sistema
.DS_Store
Thumbs.db

